body {
  background: black;
  font-family: sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  /* height: 99vh; */
  background: black;
  color: red;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: sans-serif;
}

.holder {
}

.entry {
  background-color: #22b2da;
  height: 200px;
  display: block;
  width: 100%;
}

#entryHolder {
}

#date {
  color: black;
}

#temp {
  color: black;
}

#content {
  color: black;
}

.headline {
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
  color: red;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  border: none;
}

button {
  width: 130px;
  height: 50px;
  background: #3b4a6b;
  color: black;
  font-size: 26px;
  font-family: sans-serif;
  border: none;
  border-radius: 4px;
  background-color: rgb(50, 168, 50);
  cursor: pointer;
}
button:hover {
  background-color: green;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: black;
  font-family: sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-family: sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-family: sans-serif;
}

.title {
  color: black;
}
